body{
  background-color: #EEEEEE;
  font-family: Helvetic; sans-serif;
}
a {
  text-decoration-color: red;
}
body.content.sidebar{
  color: blue;
}
#container{
  background-color: white;
  margin-left:auto;
  margin-right:auto;
  width:800px;
  padding-top: auto;
  padding-right: 10px;s
}
#header{
  background-color: #66CCFF;
  color: #FFFFFF;
  text-align: center;
  background-image: url(\u1.pg);
  height: : auto;
  pading:10px;
}
#content{
  padding: 10px 10px 20px 10px;
}
#nav{
  width:180px;
  float: left;
}
#nav ul{
  list-style: none;
  padding: 0px;
}
#nav.selected{
 text-decoration-style: solid;
}
#main{
  width:600px;
  font-size: auto;
  font-style: normal;
  font-weight: solid;
  float:right;
  text-align: justify;
  text-overflow: ellipsis;
}
#footer{
  clear:both;
  background: #999999;
  color: white;
  text-align: right;

}
