/*Global*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  height: auto;
  font:15px/1.5 ,'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../img/halftone.png);

}
p{
  line-height: 34px;
  font-size: 20px;
}
 a{
   text-decoration-line: none;
 }
hr{
  color: #4aaaa5;
}
section{

}
 header
  {
    width:100%;
    height:100px;
    background:#d3d3d3;
    color: #ffffff;
    border-bottom:#4aaaa5 2px solid;
s

  }
  ul{
 	list-style-type: none;

 }
 form {
   padding-left: 20px;
   padding-left: 40px;

 }
 h1{
   font-family: 'Georgia', Times, 'Times New Roman', serif
 }
 h2{
   color: #4aaaa5;

   font-weight: bold;
   font-family: 'Georgia', Times, 'Times New Roman', serif;

 }
/*header*/
#logo{
  background: #4aaaa5;
  padding:8px;
  text-align: center;
  display: inline-block;
  margin-bottom:20px;
  margin-top: 0;
  border:3px solid #fff;
  color: #fff;
  float:left;
  max-height:75px;
}


h1 a{
  color: #fff;
}


/*nav*/
.manue{

  height:75px;


}
header li{
float: right;
 display: list-item inline;
 margin:auto;
 padding: 20px;
 border-left: 2px solid #4aaaa5;

}
a:hover{
   color:red;
   font-weight: bold;
   font-stretch: 22px;
 }
/* form*/
  #myform{
  float: left;
  width:60%;
  padding: 0 20px 0 30px;
  margin: 40px;
  background: #d3d3d3;

}

#button1{
height: 38px;
width: 100px;
background:#4aaaa5;
border:1px solid #fff;
padding:10px;
text-align: center;
margin-bottom: 10px;
}
.container{
  width:100%;
  margin:0 auto;
  padding: 20px;
  overflow:auto;
  min-height: 75px;
}
.main{
  float: left;
  width:40%;
  padding: 0 30px 0 30px;
  margin: 40px;
  background: #d3d3d3;

}
#pro{
  width:70%;
}

#aboutme{
  float: left;
  width:60%;
  padding: 5px;
  margin: 40px;
  background: #d3d3d3;
}

 #sidebar{
  width:30%;
  margin-top: 40px;
  float: left;

  }
  .col-narrow{
  width:30%;
  float:left;
  min-height: 100px;
}
  .col-wide{
    width:70%;
    float: left;
    margin-left: 20px;
    min-height: 100px;
  }
  .col-pic{
  width:30%;
  float:left;

}
.img-icon{
  border-radius: 10%;
  float: left;
  margin: 20px;
  position: relative;
  padding: 20px;
  min-height: 300px;
  min-width: 300px;
  display:inline-block;

}
/*div .main #myform input{
  width: 250px;
}*/
/*
#sidebar{
  background: #d3d3d3;
  max-width:30%;
  margin-left: 100px;
  margin-top: 20px;
  padding: 30px;
  float:left;

}
*/
.dark{
padding:25px;
background: #d3d3d3; /*gray*/
color:#ffffff;
margin-top: 40px;
margin-right: auto;
margin-left: 20px;
}
.pix {
height: 28%;
width: 28%;
padding-right:30px;

}

footer{
  background: #d3d3d3;
  float: left;
  border-top: 3px solid #4aaaa5;
  padding: 30px;
  margin:auto 0;
  color: #fff;
  text-align: center;
  width: 100%;
 height: auto;
}
/*index1 image*/
.pro-img{
border-radius: 20%;
float: left;
margin-top: 10px;
position: relative;
margin-right: 20px;
}
.content-wrap{
max-width: 950px;
  margin:0 auto;
  padding: 20px;
  overflow:auto;
}
